PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27018/choir
JWT_SECRET=change-this-to-a-long-random-string
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
ADMIN_EMAIL=admin@choir.local
ADMIN_PASSWORD=choiradmin
